* {
	margin: 0;
}

html,body {
	background-color: #F2F2F2;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
}

div#content {
	width: 100%;
	margin: 0 auto -100px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: #EAEAEA;
}

div#header {
	background-image: url('images/header.png');
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	color: #000000;
	text-shadow: 2px 2px 2px #C8C8C8;
	height: 150px;
	padding: 5px;
	margin: 10px;
}

div#sidebarContainer {
	width: 200px;
	display: table-cell;
	min-width: 200px;
	position: relative;
	left: 10px;
}

div#sidebarContainer > div#sidebar {
	padding: 5px;
	padding-bottom: 0px;
	min-height: 150px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 2px #C8C8C8;
	border-radius: 2px;
}

div#posts {
	display: table-cell;
	width: 100%;
	vertical-align: top;
	padding-left: 10px;
}

div[id^="post_"] {
	background-color: #FFFFFF;
	margin: 10px;
	margin-top: 0px;
	padding-bottom: 1px;
}

div[id="posts"]>div[id^="post_"] {
	box-shadow: 2px 2px 2px #C8C8C8;
	border-radius: 2px;
}

div[id^="post_"][id$="_header"] {
	margin: 0px;
}

div[id^="post_"][id$="_header_nr"] {
	float: right;
	color: #AAAAAA;
	font-size: 0.8em;
}

div[id^="post_"][id$="_header_title"] {
	font-size: 2em;
	font-weight: bold;
}

div[id^="post_"][id$="_header_date"] {
	font-size: 0.9em;
	display: inline;
	background-image: url('images/clock.png');
	background-repeat: no-repeat;
	padding-left: 16px;
}

div[id^="post_"][id$="_header_author"] {
	font-size: 0.9em;
	display: inline;
	background-image: url('images/author.png');
	background-repeat: no-repeat;
	padding-left: 16px;
}

div[id^="post_"][id$="_header_date_updated"] {
	font-size: 0.9em;
	display: inline;
	background-image: url('images/edit.png');
	background-repeat: no-repeat;
	padding-left: 16px;
}

input[id^="post_"][id$="_header_edit"] {
	float: right;
	margin-right: 5px;
}

input[id^="post_"][id$="_header_delete"] {
	float: right;
	margin-right: 5px;
}

div[id^="post_"][id$="_footer"] {
	border-top: 1px #AAAAAA solid;
	color: #AAAAAA;
	font-size: 0.9em;
}

div[id^="post_"][id$="_footer"]>div#comments_list>div[id^="comment_"],div[id^="post_"][id$="_footer"]>div[id^="comment_"] {
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	min-height: 80px;
	color: #555555;
	background-color: #EAEAEA;
	box-shadow: 2px 2px 2px #C8C8C8 inset, -1px -1px 2px #C8C8C8 inset;
	border-radius: 2px;
}

div[id^="post_"][id$="_footer"]>div[id^="post_"][id$="_footer_keywords"] {
	padding: 15px;
	padding-left: 32px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 32px;
	line-height: 32px;
	color: #555555;
	background-color: #EAEAEA;
	background-image: url('images/tag.png');
	background-repeat: no-repeat;
	background-position: 8px 8px;
	box-shadow: 2px 2px 2px #C8C8C8 inset, -1px -1px 2px #C8C8C8 inset;
	border-radius: 2px;
}

div[id^="comment_"][id$="_header_nr"] {
	position: relative;
	float: left;
	top: 10px;
	width: 50px;
	height: 50px;
	min-height: 50px;
	font-size: 45px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div[id^="comment_"][id$="_header_date"] {
	font-size: 0.9em;
	display: inline;
	background-image: url('images/clock.png');
	background-repeat: no-repeat;
	padding-left: 16px;
}

div[id^="comment_"][id$="_header_startdate"] {
	display: none;
}

div[id^="comment_"][id$="_header_author"] {
	font-size: 0.9em;
	display: inline;
	background-image: url('images/author.png');
	background-repeat: no-repeat;
	padding-left: 16px;
}

div#comment_post_header {
	font-size: 1.3em;
}

form#comment_post_form {
	margin-bottom: 10px;
}

input#comment_post_form_author {
	width: 200px;
}

textarea#comment_post_form_content {
	margin-top: 1px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#comment_post_form_footer {
	color: #AAAAAA;
	font-size: 0.9em;
	position: relative;
	height: 30px;
}

input#comment_post_form_submit {
	position: absolute;
	right: 55px;
	top: 50%;
	height: 24px;
	margin-top: -7px;
}

input#comment_post_form_reset {
	position: absolute;
	right: 0;
	top: 50%;
	height: 24px;
	margin-top: -7px;
}

input#comment_post_form_post_nr {
	display: none;
}

input#comment_post_form_type {
	display: none;
}

div[id^="static_"] {
	background-color: #FFFFFF;
	margin: 10px;
	margin-top: 0px;
	padding-bottom: 1px;
}

div[id="posts"]>div[id^="static_"] {
	box-shadow: 2px 2px 2px #C8C8C8;
	border-radius: 2px;
}

div[id^="static_"][id$="_header"] {
	margin: 0px;
}

div[id^="static_"][id$="_header_title"] {
	font-size: 2em;
	font-weight: bold;
}

div[id^="static_"][id$="_footer"] {
	border-top: 1px #AAAAAA solid;
	color: #AAAAAA;
	font-size: 0.9em;
}