* {
	margin: 0;
}

html,body {
	background-color: #F2F2F2;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
}

div#content {
	width: 100%;
	margin: 0 auto -100px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: #EAEAEA;
}

div#header {
	background-image: url('images/header.png');
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	color: #000000;
	text-shadow: 2px 2px 2px #C8C8C8;
	height: 150px;
	padding: 5px;
	margin: 10px;
}

div#sidebarContainer {
	width: 200px;
	display: table-cell;
	min-width: 200px;
	position: relative;
	left: 10px;
}

div#sidebarContainer > div#sidebar {
	padding: 5px;
	padding-bottom: 0px;
	min-height: 150px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 2px #C8C8C8;
	border-radius: 2px;
}

div#posts {
	display: table-cell;
	width: 100%;
	vertical-align: top;
	padding-left: 10px;
}

div[id^="post_"] {
	background-color: #FFFFFF;
	margin: 10px;
	margin-top: 0px;
	padding-bottom: 1px;
}

div[id="posts"]>div[id^="post_"] {
	box-shadow: 2px 2px 2px #C8C8C8;
	border-radius: 2px;
}

div[id^="post_"][id$="_header"] {
	margin: 0px;
}

div[id^="post_"][id$="_header_nr"] {
	float: right;
	color: #AAAAAA;
	font-size: 0.8em;
}

div[id^="post_"][id$="_header_title"] {
	font-size: 2em;
	font-weight: bold;
}

div[id^="post_"][id$="_header_postedby"] {
	font-size: 0.9em;
}

input[id^="post_"][id$="_header_edit"] {
	float: right;
}

div[id^="post_"][id$="_footer"] {
	border-top: 1px #AAAAAA solid;
	color: #AAAAAA;
	font-size: 0.9em;
}

div[id^="post_"][id$="_footer"]>div#comments_list>div[id^="comment_"],div[id^="post_"][id$="_footer"]>div[id^="comment_"] {
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	min-height: 80px;
	color: #555555;
	background-color: #EAEAEA;
	box-shadow: 2px 2px 2px #C8C8C8 inset, -1px -1px 2px #C8C8C8 inset;
	border-radius: 2px;
}

div[id^="comment_"][id$="_header_nr"] {
	position: relative;
	float: left;
	top: 10px;
	width: 50px;
	height: 50px;
	min-height: 50px;
	font-size: 45px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div[id^="comment_"][id$="_header_postedby"] {
	font-style: italic;
}

div#comment_post_header {
	font-size: 1.3em;
}

form#comment_post_form {
	margin-bottom: 10px;
}

input#comment_post_form_author {
	width: 200px;
}

textarea#comment_post_form_content {
	margin-top: 1px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#comment_post_form_footer {
	color: #AAAAAA;
	font-size: 0.9em;
	position: relative;
	height: 30px;
}

input#comment_post_form_submit {
	position: absolute;
	right: 55px;
	top: 50%;
	height: 24px;
	margin-top: -7px;
}

input#comment_post_form_reset {
	position: absolute;
	right: 0;
	top: 50%;
	height: 24px;
	margin-top: -7px;
}

input#comment_post_form_post_nr {
	display: none;
}

input#comment_post_form_type {
	display: none;
}

div[id^="static_"] {
	background-color: #FFFFFF;
	margin: 10px;
	margin-top: 0px;
	padding-bottom: 1px;
}

div[id="posts"]>div[id^="static_"] {
	box-shadow: 2px 2px 2px #C8C8C8;
	border-radius: 2px;
}

div[id^="static_"][id$="_header"] {
	margin: 0px;
}

div[id^="static_"][id$="_header_title"] {
	font-size: 2em;
	font-weight: bold;
}

div[id^="static_"][id$="_footer"] {
	border-top: 1px #AAAAAA solid;
	color: #AAAAAA;
	font-size: 0.9em;
}

div#popup_table {
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #C8C8C8;
	background-color: #F2F2F2;
	color: #000000;
	width: 200px;
	min-height: 50px;
	margin-left: -100px;
	margin-top: -25px;
	padding: 10px;
}

div#popup_cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div#footer_push {
	height: 100px;
	clear: both;
}

div#footer {
	text-align: center;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	line-height: 100px;
}

div.pages {
	width: 730px;
	margin: 10px;
	text-align: center;
	background-color: #FFFFFF;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #0048FF;
}

a.sidebar_link {
	color: #0048FF;
}

a.sidebar_link:hover {
	text-decoration: underline;
}

a.footer_link {
	color: #AAAAAA;
}

a.footer_link:hover {
	color: #0048FF;
}

ul.sidebar_list {
	list-style-type: none;
	padding-left: 0;
}

p {
	margin: 1.12em 0;
}

.sampi_footer_powered_by {
	color: white;
}

input[type="text"],input[type="password"],div.textarea-wrapper,select {
	box-shadow: 1px 1px 1px #C8C8C8 inset;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
	background-color: #FFF;
	border: none;
	margin-top: 5px;
}

div.textarea-wrapper>textarea {
	background: transparent;
	border: none;
	width: 100%;
}

input[type="button"],input[type="reset"] {
	box-shadow: 1px 1px 1px #C8C8C8;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
	background-color: #F2F2F2;
	color: #000;
	border: none;
	margin-top: 5px;
	margin-left: 5px;
}

input[type="button"]:hover,input[type="reset"]:hover {
	box-shadow: 2px 2px 2px #C8C8C8 inset, -1px -1px 1px #C8C8C8 inset;
}

input[type="button"]:active,input[type="reset"]:active {
	box-shadow: 2px 2px 2px #C8C8C8 inset, -1px -1px 1px #C8C8C8 inset;
	background-color: #E2E2E2;
}

input[type="submit"],input.button-main {
	box-shadow: 1px 1px 1px #C8C8C8;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
	background-color: #33AAFF;
	color: #FFF;
	border: none;
	margin-top: 5px;
	width: 50px;
	margin-right: 5px;
}

input[type="submit"]:hover,input.button-main:hover {
	box-shadow: 2px 2px 2px #88E inset, -1px -1px 1px #88E inset;
	background-color: #44BBFF;
}

input[type="submit"]:active,input.button-main:active {
	box-shadow: 2px 2px 2px #88E inset, -1px -1px 1px #88E inset;
	background-color: #39AFFF;
}