* {
	margin: 0;
}

html,body {
	background-color: #F2F2F2;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
}

div#login {
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	box-shadow: 2px 2px 2px #C8C8C8;
	border-radius: 2px;
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div#login_header {
	margin: 0px;
}

div#login_header_title {
	font-size: 2em;
	font-weight: bold;
}

div#login_msg {
	color: #F00;
}

input[name^="settings"][type="text"] {
	padding-left: 3px;
}

input[name^="settings"][name$="[submit]"] {
	position: absolute;
	right: 0;
	top: 50%;
	height: 24px;
	margin-top: -7px;
}

div#popup_table {
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #C8C8C8;
	background-color: #F2F2F2;
	color: #000000;
	width: 200px;
	min-height: 50px;
	margin-left: -100px;
	margin-top: -25px;
	z-index: 100;
}

div#popup_cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div#footer_push {
	height: 100px;
	clear: both;
}

div#footer {
	text-align: center;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	line-height: 100px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #0048FF;
}

a[class="sidebar_link"] {
	color: #0048FF;
}

a[class="sidebar_link"]:hover {
	text-decoration: underline;
}

a[class="footer_link"] {
	color: #AAAAAA;
}

a[class="footer_link"]:hover {
	color: #0048FF;
}

ul[class="sidebar_list"] {
	list-style-type: none;
	padding-left: 0;
}

p {
	margin: 1.12em 0;
}

.sampi_footer_powered_by {
	color: white;
}

input[type="text"],input[type="password"],div.textarea-wrapper,select {
	box-shadow: 1px 1px 1px #C8C8C8 inset;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
	background-color: #FFF;
	border: none;
	margin-top: 5px;
}

div.textarea-wrapper>textarea {
	background: transparent;
	border: none;
	width: 100%;
}

input[type="button"],input[type="reset"] {
	box-shadow: 1px 1px 1px #C8C8C8;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
	background-color: #F2F2F2;
	color: #000;
	border: none;
	margin-top: 5px;
}

input[type="button"]:hover,input[type="reset"]:hover {
	box-shadow: 2px 2px 2px #C8C8C8 inset, -1px -1px 1px #C8C8C8 inset;
}

input[type="button"]:active,input[type="reset"]:active {
	box-shadow: 2px 2px 2px #C8C8C8 inset, -1px -1px 1px #C8C8C8 inset;
	background-color: #E2E2E2;
}

input[type="submit"],input.button-main {
	box-shadow: 1px 1px 1px #C8C8C8;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
	background-color: #33AAFF;
	color: #FFF;
	border: none;
	margin-top: 5px;
	width: 50px;
}

input[type="submit"]:hover,input.button-main:hover {
	box-shadow: 2px 2px 2px #88E inset, -1px -1px 1px #88E inset;
	background-color: #44BBFF;
}

input[type="submit"]:active,input.button-main:active {
	box-shadow: 2px 2px 2px #88E inset, -1px -1px 1px #88E inset;
	background-color: #39AFFF;
}

div#login table {
	position: relative;
	width: 100%;
}

div#login table input[type="button"],div#login table input[type="submit"] {
	position: absolute;
	right: 0px;
	height: 24px;
	margin-top: -7px;
}

div#login table input[type="submit"] {
	right: 50px;
}

div#setup {
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	box-shadow: 2px 2px 2px #C8C8C8;
	border-radius: 2px;
	width: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div#setup_header {
	margin: 0px;
}

div#setup_header_title {
	font-size: 2em;
	font-weight: bold;
}

div#setup_header_subtitle {
	font-style: italic;
	color: #C4C4C4;
}

div#setup_body {
	opacity: 1;
	transition: opacity 0.5s;
}

div#setup_body table {
	width: 100%;
}

div#setup_body a {
	color: #0048FF;
}

div#setup_body a:hover {
	color: #0048FF;
	text-decoration: underline;
}

div#setup_footer {
	border-top: 1px #AAAAAA solid;
	color: #AAAAAA;
	font-size: 0.9em;
	position: relative;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
}

div[id^="setup_footer_"] {
	display: inline;
	padding-right: 20px;
	transition: border 1s;
}

div#setup_footer_1 {
	border-bottom: #44BBFF solid 5px;
}

div#setup_msg {
	background-color: #C8C8C8;
	padding: 10px;
	font-family: monospace;
}

.ui-hint {
	color: #AAAAAA;
	font-size: 0.9em;
	opacity: 0;
	max-height: 0px;
	transition: opacity 0.5s, max-height 1s;
	padding: 5px 0;
}

.ui-hint-host:hover>.ui-hint,input:focus ~.ui-hint,.ui-hint-host:hover>.textarea-wrapper>.ui-hint,textarea:focus ~.ui-hint,select:focus ~.ui-hint {
	opacity: 1;
	max-height: 50px;
}