* {
	margin: 0;
}

html,body {
	background-color: #F2F2F2;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
}

div#content {
	width: 1007px;
	margin: 0 auto -100px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: #EAEAEA;
}

div#header {
	background-image: url('images/header.png');
	background-repeat: no-repeat;
	color: #000000;
	text-shadow: 2px 2px 2px #C8C8C8;
	height: 100px;
	padding: 5px;
	margin: 0px;
}

div#sidebar {
	background-color: #FFFFFF;
	width: 200px;
	float: left;
	margin: 10px;
	padding: 5px;
	min-height: 150px;
}

div#content>div#sidebar {
	box-shadow: 2px 2px 2px #C8C8C8;
	border-radius: 2px;
}

div#settings {
	width: 750px;
	float: right;
}

div[id^="panel_"] {
	background-color: #FFFFFF;
	margin: 10px;
	padding-bottom: 1px;
}

form[name="settings"]>div[id^="panel_"] {
	box-shadow: 2px 2px 2px #C8C8C8;
	border-radius: 2px;
}

div[id^="panel_"][id$="_content"] > table, form[name="login"] > table {
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	min-height: 80px;
	color: #555555;
	background-color: #EAEAEA;
	box-shadow: 2px 2px 2px #C8C8C8 inset, -1px -1px 2px #C8C8C8 inset;
	border-radius: 2px;
	width: 100%;
}

div[id^="panel_"][id$="_header"] {
	margin: 0px;
}

div[id^="panel_"][id$="_header_title"] {
	font-size: 2em;
	font-weight: bold;
}

div[id^="panel_"][id$="_footer"] {
	border-top: 1px #AAAAAA solid;
	color: #AAAAAA;
	font-size: 0.9em;
	position: relative;
	height: 30px;
}